{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>정원사들 시즌4 - 출석부</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script src="{% static "js/common.js" %}"></script>
    <link href="{% static "css/common.css" %}" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        $(document).ready(function () {
            console.log("ready!");

            get_users();

            let yesterday = new Date(new Date().setDate(new Date().getDate()-1));
            $("#date").val(moment(yesterday).format("YYYYMMDD"));
            get_attendances();
        });

        function collect_attendance() {
            $.ajax({
                method: "GET",
                url: "collect/",
                dataType: "JSON",
                data: {}
            }).done(function (data) {
            })
        }

        function get_users() {
            $.ajax({
                method: "GET",
                url: "users/",
                dataType: "JSON",
                data: {}
            }).done(function (data) {
                let html = "";
                $.each(data, function(index, user) {
                    let avatar_img_url = getAvatarImgUrl(user);
                    html += `<a href="https://github.com/${user}" target="_blank">
<img src="${avatar_img_url}" width="60" />
</a>`;
                });
                $("#users").html(html);
            });
        }

        // 전체 출석부 조회
        function get_attendances() {
            $.ajax({
                method: "GET",
                url: "gets",
                dataType: "JSON",
                data: {}
            }).done(function (data) {
                // data {user: user, attendances: }

                // 출석부 날짜 범위 2019.10.01 ~ 어제
                let yesterday = new Date(new Date().setDate(new Date().getDate()-1));
                let formatted_dates = [];
                for (let d = new Date(2019, 10 - 1, 1); d <= yesterday; d.setDate(d.getDate() + 1)) {
                    formatted_dates.push(moment(d).format("YYYY-MM-DD"));
                }

                // data 에 rate, count 추가
                let counts = [];
                let daily_count = {};

                $.each(data, function(index, data_row) {
                    let count_by_user = 0;
                    $.each(formatted_dates, function (idx, formatted_date) {
                        if (formatted_date in data_row.attendances) {
                            count_by_user++;
                            if (!(formatted_date in daily_count)) {
                                daily_count[formatted_date] = 0;
                            }
                            daily_count[formatted_date]++;
                        }
                    });

                    counts.push(count_by_user);

                    // data 에 정보 추가
                    data_row["rate"] = (count_by_user / formatted_dates.length) * 100;
                    data_row["count"] = count_by_user;
                });

                // 순위 계산
                function rank(value, arr) {
                    const sorted = arr.slice().sort(function (a, b) {
                        return b - a
                    });
                    const rank = sorted.indexOf(value);
                    if (rank > -1) return rank + 1;
                    return null;
                }

                // data 에 rank 추가
                $.each(data, function(index, data_row) {
                    data_row["rank"] = rank(data_row.count, counts);
                });

                // table 그리기
                let html = `<table id="attendance-table" class="table table-sm attendance-table">
<thead>
<tr>
<th>No</th>
<th>user</th>
<th>출석율</th>
<th>순위</th>
`;
                // 날짜 헤더
                $.each(formatted_dates, function(idx, formatted_date) {
                    html += `<th class="attendance_date">${formatted_date}</th>`;
                });
                html += `</tr></thead>
<tbody>
`;

                $.each(data, function(index, data_row) {
                    let attendances_cell_html = "";
                    $.each(formatted_dates, function (idx, formatted_date) {
                        if (formatted_date in data_row.attendances) {
                            attendances_cell_html += `<td title="${data_row.attendances[formatted_date]}">O</td>`;
                        } else {
                            attendances_cell_html += `<td>X</td>`;
                        }
                    });

                    html += `<tr data-count="${data_row.count}" data-user="${data_row.user}" class="user">`;
                    html += `<td>${index + 1}</td>`;
                    html += `<td><a href="https://github.com/${data_row.user}" target="_blank">${data_row.user}</a></td>`;
                    html += `<td>${Math.round(data_row.rate)}%</td>`;
                    html += `<td class="rank">${data_row.rank}</td>`;
                    html += attendances_cell_html;
                    html += `</tr>`;
                });

                // 날짜별 출석율
                let daily_rate = [];
                let daily_rate_html = `<td></td>
<td></td>
<td></td>`; // 빈칸들
                daily_rate_html += "<td>출석율</td>";
                $.each(formatted_dates, function(idx, formatted_date) {
                    let rate = (daily_count[formatted_date] / data.length) * 100;
                    daily_rate_html += `<td>${Math.round(rate)}%</td>`;

                    daily_rate.push([formatted_date, rate, rate.toString() + "%"]);
                });

                html += `<tr>${daily_rate_html}</tr>`;
                html += "</tbody></table>";
                $("#attendance").html(html);

                // 순위별 표시
                data.sort(function(a, b) {
                    return a.rank - b.rank;
                });

                let rank_html = `<table class="table table-sm table-rank">
<thead>
<th>순위</th>
<th>user</th>
<th>출석율</th>
</thead>
<tbody>`;
                $.each(data, function(idx, item) {
                    let avatar_img_url = getAvatarImgUrl(item.user);
                    rank_html += `<tr>
<td>${item.rank}</td>
<td><img src="${avatar_img_url}" width="80" style="vertical-align:top"/>${item.user}</td>
<td>${Math.round(item.rate)}%</td>
</tr>`;
                });

                rank_html += `</tbody></table>`;

                $("#rank").html(rank_html);

                // 출석율 그래프
                google.charts.load('current', {'packages': ['corechart']});

                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    {#let arr = [['Dates', '출석율']];#}
                    {#arr = arr.concat(daily_rate);#}
                    {#console.log(arr);#}
                    {#const data = google.visualization.arrayToDataTable(arr);#}
                    var chartData = new google.visualization.DataTable();
                    chartData.addColumn('string', 'Dates');
                    chartData.addColumn('number', '출석율');
                    chartData.addColumn({type:'string', role:'annotation'});
                    chartData.addRows(daily_rate);

                    const options = {
                        title: '정원사들 출석율',
                        hAxis: {title: 'Dates'},
                        vAxis: {title: '출석율', maxValue: 100, minValue: 0},
                        legend: 'none',
                        width: "100%",
                        height: 400,
                        displayAnnotations: true,
                        trendlines: {1: {}}    // Draw a trendline for data series 0.
                    };

                    const chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(chartData, options);
                }
            }).fail(function (data) {
                console.log(data);
                alert("출석부 실패");
            });
        }

    </script>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                     viewBox="0 0 24 24" focusable="false">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                    <circle cx="12" cy="13" r="4"/>
                </svg>
                <strong>정원사들</strong>
            </a>
        </div>
    </div>
</header>

<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <h2>정원사들</h2>
        <div id="users"></div>
        <br>
        <h2>출석부</h2>
        <div>
{#            <form class="form-inline" onsubmit="return false;">#}
{#                <input id="date" type="text" class="form-control" placeholder="YYYYMMDD" value="20191029" />#}
{#                <button class="btn btn-primary" onclick="get_attendance()">조회</button>#}
{#            </form>#}
        </div>
        <div id="attendance"></div>
        <h2>순위</h2>
        <div id="rank"></div>
        <h2>출석율 그래프</h2>
        <div id="chart_div"></div>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">정원사들</span>
    </div>
</footer>

</body>
</html>